# fly.toml app configuration file generated for turn-tracker-backend on 2025-11-02T03:47:19Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'turn-tracker-backend'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.21'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared-cpu-1x'
  cpus = 1
  memory_mb = 256